@import '../../variables';

.bottom-border {
    border-bottom-width: 1px;
    border-bottom-color: $focus-color;
    border-bottom-style: solid;
}

.width_30 {
    width: 30em;
}

.center {
    text-align: center;
}