<div class="grid">
        <!-- <div class="header">
    <div>
        Open one of the orders.
        <div>
            <label for="search">Search</label>
            <input type="text" />
        </div>
    </div>
</div> -->
    <div class="work">
        <div class="hoverable" *ngFor="let order of this.orders" (click)="open(order)">
            <div *ngIf="order.name.length > 0">{{order.name}}</div>
            <div *ngIf="order.name.length == 0">{{order.id}}</div>
            <div>{{order.tasks.length}}</div>
            <div *ngFor="let task of order.tasks">
                <div>{{task.dataset.id}}</div>
            </div>
            <!-- <div>{{order.status}}</div> -->
        </div>
    </div>
</div>
  

    