@import '../../variables';

.menu {
    position: fixed;
    top: 5em;
    left:0px;
    width: 14em;

    span {
        display: block;
        margin: 1em;

        .selected {
            background-color: orange;
        }
    }
    p {
        font-size: 12px;
        font-weight: bold;
    }
}

.details {
    margin:auto;
    width: 30em;
}

.chart_invisible {
    visibility: collapse;
}

.chart_visible {
    visibility: visible;
}

.detail_invisible {
    display: none;
}

.detail_visible {
    display: block;
}