<div class="grid">

    <div class="work">
        <div>
            <span>{{order.name}}</span>
            Status: {{order.status}}
        </div>
    </div>
    <div class="summary">
        <div class="hoverable" *ngIf="order().status == 'new' || order().status == ''">
            Start Evaluation
        </div>
        <div class="item">edit</div>
        <div class="item" (click)="clone()">clone</div>
        <div class="item" (click)="close()">close</div>
    </div>
</div>

<div class="details">
    <canvas #lineChart>{{ chart }}</canvas>
</div>