@import '../../variables';

.menu {
    position: fixed;
    top: 5em;
    left:0px;
    width: 14em;

    span {
        display: block;
        margin: 1em;

        .selected {
            background-color: orange;
        }
    }
    p {
        font-size: 12px;
        font-weight: bold;
    }
}

.details {
    margin:auto;
    width: 30em;
}

.header {
    height: 4em;
    border-bottom: 1px solid black;
    box-shadow: $shadow;
}