.container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
}

.box, .widebox {
  background-color: lightblue;
  margin: 5px;
}

.box {
  background-color: lightblue;
  width: 420px;
  height: 420px;
}

.widebox {
  background-color: lightblue;
  width: 850px;
  height: 210px;
}

.boxtitle {
    height: 30px;
    width: 420px;
}

.boxdata {
    overflow: auto;
    height: 390px;
    width: 420px;
}

.vertivalScroll {
    overflow-y: auto;
}