@import '../../variables';

.title_input {
    font-size: 20px;
    font-weight: 400;
    border-bottom-color: $focus-color;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.hidden_without_hover {
    opacity: 0;
    transition: 0.6s;
    transition-delay: 0.1s;
    overflow: hidden;
    height: 0%;
}
.hidden_with_hover {
    opacity: 1;
    transition: 0.6s;
    transition-delay: 0.1s;
    overflow: hidden;
    height: 2em;
}

.show_on_hover:hover .hidden_without_hover {
    opacity: 1;
    height: 100%;
}
.show_on_hover:hover > .hidden_with_hover {
    opacity: 0;
    height: 0em;   
}
.show_on_hover:hover .hidden_without_hover.icon_button {
    height: 1em;
    width: 1em;
    margin-left: 2em;
}

.button-wobble:hover {
    animation: wobble 3s ease-in-out alternate infinite;
}
  
@keyframes wobble {
    10% {
        border-radius: $border-radius / $border-radius;
    }
    40% {
      border-radius: 750px 550px 350px 750px /
                     350px 750px 550px 450px;
    }
    70% {
        border-radius: 250px 400px 550px 550px /
                       550px 750px 550px 550px;
    }
    100% {
      border-radius: 750px 250px 750px 250px /
                     250px 750px 250px 750px;
    }
}

.scrollable {
    height: calc(100%-6em);
    overflow-y: auto;
    overflow-x: hidden;
}

#classifier_parameter_infopanel {
    text-align: right;
    width: 10em;
}

.square_bottom {
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    height: 12em;
}

.square_bottom .hidden_with_hover {
    overflow: auto;
    height: auto;
}

#classifier_list .list_item {
    margin-left: 0.2em;
    margin-right: 0.2em;
    align-self: center;
    width: auto;
}

#classifier_list.big_item.square_on_hover.square_bottom:hover {
    width: 12em;
    height: 16em;
}
.big_item.square_on_hover:hover {
    width: 12em;
    height: 8em;
}

.downward-spacing {
    margin-bottom: 2em;
}