@import '../../variables';

.details {
    margin:auto;
    width: 66vw;
    text-align: center;
}

header {
    height: 20vh;
    min-height: 6em;
    border-bottom: 1px solid black;
    box-shadow: 0px 10px 30px 0px #bbb;
    margin-bottom: 4em;
}

.menu {
    display: inline-block;
    width: 12vw;
    height: 10vh;
    min-width: 8em;
    min-height: 4em;
    margin:2vw;
    border: 1px solid black;
    box-shadow: $shadow;
}