
<div>

    <h2>Neue Order erstellen</h2>

    <input type="text" value="{{order.name}}">


    <div>
        <app-classifiers [classifiers]="this.classifiers"></app-classifiers>
    </div>

    <h3 (click)="metricsHidden = ! metricsHidden">Metrics</h3>
    <div *ngIf="! metricsHidden">
        <app-metric *ngFor="let m of metrics" [metric]="m"></app-metric>
    </div>

    <h3 (click)="datasetsHidden = ! datasetsHidden">Testdaten</h3>
    <div *ngIf="! datasetsHidden">
        <app-dataset *ngFor="let d of datasets" [dataset]="d"></app-dataset>
    </div>

    <h3 (click)="validatorsHidden = ! validatorsHidden">Validatoren</h3>
    <div *ngIf="! validatorsHidden">
        <app-validation-method *ngFor="let v of validationMethods" [validationMethod]="v"></app-validation-method>
    </div>

    <input type="button" (click)="create()" value="erstellen">
</div>
