<div class="grid">
    
<!-- HEADER -->
    <!-- <div class="header">
        <h1>Create a new Order</h1>        
    </div> -->

<!-- BUBBLE MENU -->

    <div class="full_width" *ngIf="this.workflow == 'order'">
        <div class="title">
            <p>
                Please give your Order a title, so that you may find it again later!
            </p>
            <p>
                <input type="text" class="title_input" [(ngModel)]="this.title" />
            </p>
        </div>
        <div class="flexbox_horizontal justify_center">  
<!-- DATASET -->
            <div class="flexitem hoverable big_item button-wobble" (click)="this.workflow = 'dataset'; this.detail = 'list';">
                <div class="title_item">
                    Dataset
                </div>
                <div class="list_item">
                    {{this.dataset == undefined ? '' : this.dataset.id}}
                </div>
            </div>
<!-- CLASSIFERS -->
            <div id="classifier_list" class="flexitem hoverable big_item show_on_hover square_on_hover" 
                    [ngClass]="{'square_bottom': this.classifiers.length > 2 }" 
                    (click)="this.workflow='classifier'; this.detail = 'list';">
                <div class="title_item inline">
                    Classifiers
                </div>
                <div>
                    <div *ngFor="let classifier of this.classifiers" class="hoverable list_item">
                        <div class="inline" (click)="this.workflow = 'classifier'; this.detail = 'parameters'; this.order = classifier">
                            {{this.shorten(classifier.id)}}
                        </div>
                    </div>
                </div>
            </div>
<!-- METRIC -->
            <div class="flexitem hoverable big_item button-wobble" (click)="this.workflow = 'metric'; this.detail = 'list';">
                <div class="title_item">
                    Metric    
                </div>
                <div class="list_item">
                    {{this.metric == undefined ? '' : this.shorten(this.metric.id)}}
                </div>
            </div>
<!-- VALIDATION METHOD -->
            <div class="flexitem hoverable big_item show_on_hover square_on_hover">
                <div class="title_item">
                    Validation Method
                </div>
                <div class="hidden_without_hover">
                    <div *ngFor="let method of this.orderGeneratorService.validationMethods" class="hoverable list_item" 
                            (click)="setMethod(method)" [ngClass]="{'active': this.isSelected(method)}">
                        {{this.shorten(method.id)}}
                    </div>
                </div>
                <div class="hidden_with_hover">
                    <div class="list_item">
                        {{this.shorten(this.method == undefined ? '' : this.method.id)}}
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- END BUBBLE MENU -->

<!-- LIST ELEMENTS -->


    <div class="work scrollable" *ngIf="this.detail == 'list'">
        <div *ngIf="this.workflow == 'dataset'">
            <div *ngFor="let dataset of this.orderGeneratorService.datasets" class="list_item hoverable" 
                    (click)="setDataset(dataset)" [ngClass]="{'active': this.isSelected(dataset)}">
                {{dataset.id}}
            </div>
        </div>
        <div *ngIf="this.workflow == 'classifier'">
            <div *ngFor="let classifier of this.orderGeneratorService.classifiers" class="flexitem hoverable" 
                    (click)="this.cloneClassifier(classifier); this.detail = 'parameters'; this.classifier = classifier;">
                {{this.shorten(classifier.id)}}
            </div>
        </div>
        <div *ngIf="this.workflow == 'metric'">
            <div *ngFor="let metric of this.orderGeneratorService.metrics" class="list_item hoverable" 
                    (click)="setMetric(metric)" [ngClass]="{'active': isSelected(metric)}">
                {{this.shorten(metric.id)}}
            </div>
        </div>
    </div>
    <div class="work scrollable" *ngIf="this.detail == 'parameters' && this.workflow == 'classifier'">
        <div *ngFor="let element of this.classifier.parameters">
            <div class="flexbox_horizontal hoverable" 
                    [ngClass]="{'selected': this.parameter.name == element.name}"
                    (mouseenter)="mouseoverParameter(element)">
                <div class="parameter key">{{element.name}}</div>
                <input class="parameter value" type="text" [(ngModel)]="element.value" />
            </div>
        </div>
    </div>
    
<!-- END LIST ELEMENTS -->

<!-- LEFT PANNEL -->
<!-- Main Buttons For Order Creation -->
    <div class="summary">
        <div *ngIf="this.workflow == 'order' && this.detail == 'main'" 
                class="item" (click)="this.create();">
            OK
        </div>
        <div *ngIf="this.workflow == 'order' && this.detail == 'main'" 
                class="item" (click)="this.workflow=''; this.cancel();">
            Cancel
        </div>
    </div>

<!-- Select Dataset -->
    <div class="summary">
        <div *ngIf="this.workflow == 'dataset' && this.detail == 'list'" 
                class="item" (click)="this.workflow='order'; this.detail='main';">
            OK
        </div>
        <div *ngIf="this.workflow == 'metric' && this.detail == 'list'" 
                class="item" (click)="this.workflow='order'; this.detail='main';">
            OK
        </div>
    </div>
    
<!-- Edit Parameters -->
    <div class="summary" *ngIf="this.detail=='parameters' && this.classifier != undefined">
        <div class="item" (click)="this.workflow='order'; this.detail='main'; this.addClassifier()">
            OK
        </div>
        <div class="item" (click)="this.workflow='order'; this.detail='main';">
            Cancel
        </div>
    </div>

<!-- Classifier List -->
    <div class="summary flexbox_vertical" *ngIf="this.detail=='list' && this.workflow == 'classifier'">
        <div class="flexitem item">
            Add a classifier
        </div>
        <div class="flexitem">
            Create a new classifier by selecting a base on the right or edit one of the exiting classifiers below.
        </div>
        <div class="flexitem ">
            <div *ngFor="let classifier of this.classifiers" class="hoverable" 
                    (click)="this.detail = 'parameters'; this.classifier = classifier;">
                {{this.shorten(classifier.id)}}
            </div>
        </div>
        <div class="flexitem item" (click)="this.workflow='order'; this.detail='main';">
            Cancel
        </div>
    </div>

<!-- END LEFT PANEL -->

<!-- RIGHT PANEL -->

    <div id="classifier_parameter_infopanel" class="detail" *ngIf="this.detail=='parameters' && this.classifier != undefined">
        <div class="item">Info</div>
        <div class="parameter documentation">
            {{this.parameter.doc}}
        </div>     
    </div>

<!-- END RIGHT PANEL -->

</div>