
<div class="grid">
    <header>
        Coda
    </header>
    <div class="summary flexbox-vertical">
        <div>
            <label for="titel">Title</label><br>
            <input id="title" type="text" value="{{this.order.name}}" />

            <div class="button" (click)="this.selector='dataset'">
                <div>Dataset</div>
                <div *ngIf="this.dataset != undefined">Dataset: {{this.dataset.id}}</div>
            </div>
            <div class="button" (click)="this.selector='classifiers'">Classifiers</div>
            <div class="button" (click)="this.selector='metric'">Metric</div>
            <div class="button" (click)="this.selector='validation'">Validation Method</div>
        </div>

        <div>
            <div class="button" (click)="this.create()">Create</div>
            <div class="button" (click)="this.cancel()">Cancel</div>
        </div>
    </div>
    <div class="work">
        <div class="main scrollable" *ngIf="this.selector=='dataset'">
            <div *ngFor="let dataset of this.orderGeneratorService.datasets" (click)="this.dataset=dataset;">{{dataset.id}}</div>
        </div>
        <div class="flexbox-vertical" *ngIf="this.selector=='classifiers'">
            <div>
                <div>Hallo</div>
            </div>
    
            <div>
                <div class="button bottom" (click)="this.selector='main'">Back</div>
            </div>
        </div>
        <div class="flexbox-vertical" *ngIf="this.selector=='metric'">
            <div>
                <div>Hallo</div>
            </div>
    
            <div>
                <div class="button bottom" (click)="this.selector='main'">Back</div>
            </div>
        </div>
        <div class="flexbox-vertical" *ngIf="this.selector=='validation'">
            <div>
                <div>Hallo</div>
            </div>
    
            <div>
                <div class="button bottom" (click)="this.selector='main'">Back</div>
            </div>
        </div>
    </div>
    <div class="detail" *ngIf="this.detail=='classifier'">
        Properties...
    </div>
</div>
