<div [ngClass]="{'floating':true, 'wrapper':true, 'selectParameters':this.detailRow!=null}">
    <div id="header">
        <div>
            Select one or more classifiers...
        </div>
        <input type="button" value="OK" />
        <input type="button" value="Cancel" (click)="this.navigatorService.floating='none'" />
    </div>
    <div class="table">
        <mat-table #table [dataSource]="this.data">
            <ng-container matColumnDef="Title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td class="cell" mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>

            <mat-header-row *matHeaderRowDef="['Title']">Name</mat-header-row>
            <mat-row *matRowDef="let row; columns: ['Title']" [ngClass]="{'selected':row.selected}" (click)="select(row)">
            </mat-row>
        </mat-table>
    </div>
    <div class="detail" *ngIf="this.detailRow != null">
        <div *ngFor="let parameter of this.detailRow.parameters">
            <span>{{parameter.name}}</span><input type="text" value="{{parameter.value}}" />
            <!-- <span>{{parameter.javaType}}</span>
            <span>{{parameter.doc}}</span> -->
        </div>
    </div>
</div>