@import '../../variables';

#header {
    border-bottom: 1px solid black;
}

.selected {
    background-color: orange;
}

.table {
    //display: inline-block;
    float: left;
}

.detail {
    display: inline-block;
    //float: right;
    margin-top: 2em;
    height: 100%;
    max-height: 80vh;
    overflow-y: scroll;
    div {
        height: 3em;
        width: 30em;
        span {
            float: left;
        }    
        input {
            float: right;
        }
    }
}

.wrapper {
    text-align: center;
}

.floating {
    background-color: white;
    box-shadow: $shadow;
    border: 1px solid black;
    width: 20em;
    margin:auto;
    min-height: 60vh;
}

.selectParameters {
    width: 60vw;
}