@import '../variables';

content {
    position: fixed;
    top: 0px;
    padding-top: $navbarHeight;
    left: calc(100vw / 4);
    right: 0px;
    overflow-y: auto;
    height: 88vh;
    border-left-width: 1px; 
    border-left-style: solid; 
    border-left-color: darkgray; 
    padding-left: 5vw;
}