<content>
    <app-landing-page *ngIf="this.navigatorService.view=='start'">loading landing page...</app-landing-page>

    <!-- <div *ngIf="this.navigatorService.view!='orderGenerator'" class="box right background"></div> -->

    <app-orders *ngIf="this.navigatorService.view=='orders'"></app-orders>
    <app-order-generator *ngIf="this.navigatorService.view=='orderGenerator'"></app-order-generator>

    <div *ngIf="this.navigatorService.view=='orderGenerator'" ></div>
</content>
<p id='title' class='rotate'>{{this.navigatorService.title}}</p>
<p id='subtitle' class='rotate'>{{this.navigatorService.subtitle}}</p>
<app-navbar>Display navbar here.</app-navbar>