<div class="grid">
  <div class="header">
    <h1>CODA</h1>
  </div>

  <div class="full_width">
    <div class="title">
      <p>
        Wellcome to Coda, an automated machine learning program.
      </p>
    </div>
    <div class="flexbox_horizontal justify_center">  
      <div class="flexitem hoverable big_item square_on_hover video_holder" (click)="create()">
        <div class="title_item">
          Create your own<br>Order.
        </div>
      </div>
      <div class="flexitem hoverable big_item square_on_hover" (click)="navigator.view = 'orders'">
        <div class="title_item">
          View existing<br>Orders.
        </div>
      </div>
      <div class="flexitem hoverable big_item square_on_hover">
        <div class="flexitem title_item">About Coda &<br>Settings</div>
      </div>
    </div>
  </div>
  <!-- <input type="button" value="Show Orders" (click)="navigator.view = 'orders'" />
  <input type="button" value="Help" (click)="navigator.view = 'help'"/>
  <input type="button" value="Create Orders" (click)="create()"/> -->
</div>