<nav id="navbar">
  <!-- <div class="coda-menu" href="#" (mouseenter)="showMenu()" (mouseleave)="hideMenu()"> -->
    <!-- <img id="coda-logo" src="assets/logo_coda_88px.png" alt="Coda"/> -->
    <!-- <ul id="menu" [ngClass]="menuVisible ? '' : 'hide'"> -->
    <!-- <ul id="menu">
      <li>
        <a class="active" href="#" (click)="openLandingPage()">{{ 'MenuHome' | translate }}</a>
      </li>
      <li>
        <a href="#" (click)="openOrders()">{{ 'MenuOrders' | translate }}</a>
      </li>
      <li>
        <a href="#" (click)="openOrderGenerator()">{{ 'MenuCreate' | translate }}</a>
      </li>
    </ul> -->
  <!-- </div> -->
  <!-- <div id="searchbar">
    <input type="text" [(ngModel)]="searchService.searchText" (keydown)="onKeydown($event)" />
  </div>
  <div id="searchresults" *ngIf="this.searchService.searchresults.length > 0">
    <ul>
      <li *ngFor="let result of this.searchService.searchresults" [ngClass]="this.searchService.searchresults.indexOf(result) == this.searchService.selected ? 'selected' : ''">{{result}}</li>
    </ul>
  </div> -->
</nav>
<img id="coda-bg-logo" src="assets/logo_coda_88px.png" alt="Coda"/>
<div class="bottom-fadeout">

</div>
