@import '../../variables';

#coda-logo {
    margin-left: 1em;
    margin-top: 1em;
    width:3.5em;
}

#coda-bg-logo {
    margin-left: 44vw;
    margin-top: 35vh;
    width:10vw;
    // height: 10vh;
    opacity: 0.3;
}

.hide {
    visibility: hidden;
}

#searchbar {
    position: fixed;
    left: 20vw;
    width: 60vw;
    top: 1em;
    
    input {
        height: 1.5em;
        width: 100%;
    }
}
#searchresults {
    position: fixed;
    left: 25vw;
    top: 3em;
    width: 50vw;
    height: 8em;
    background-color: rgba(200,200,200,0.5);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    overflow: hidden;  
}

.bottom-fadeout {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width:100vw;
    height: 2em;
    background: linear-gradient(to bottom, transparent, white 60%);
}
.selected {
    background-color: green;
}