$text-font: Helvetia, sans-serif;
$caption-font: Arial;

$text-color: lightgray;
$caption-color: lightgray;

$background-color: #003556;

$opacity: 0.4;

$left-box-left: 13em;

$right-box-right: 2em;

$paper-right: 2em;
$paper-top: 24em;
$paper-height: 40em;
$paper-width: 44em;
$paper-opacity: 0.9;

$box-top: 14em;
$box-width: 22em;
$box-height: 34em;
$box-position: absolute;

$container-padding: 1em;

$image-right: 0em;
$image-top: 0em;
$image-source: './assets/data-and-connections.jpg';
$image-width: 60em;
$image-height: 40em;


// $gradients: () !default;
// $gradients: map-merge((
//     chill: linear-gradient(135deg, #09e485 0%,#0291e3 100%),
//     warm: linear-gradient(135deg, #F2CD48 0%,#FD803F 100%),
//     hot: linear-gradient(135deg, #F9445A 0%,#FD803F 100%),
//     cold: linear-gradient(135deg, #8019C6 0%,#2F93CC 100%)
// ), $gradients);