$text-font: Helvetia, sans-serif;
$caption-font: Arial;

$text-color: lightgray;
$caption-color: lightgray;

$color-light: #fff;
$color-medium: #dde;
$color-dark: #bbc;

$navbarHeight: 5em;
$logoHeight: 3.5em;
$menuWidth: 14em;
$menuItemHeight: 1.5em;
$menuFont: bold 16px Verdana;