$text-font: Helvetia, sans-serif;

$shadow: 0px 10px 30px 0px #bbb;

$header-height: 20vh;

$border-radius: 5em;
$circle-diameter-horizontal: 10em;
$circle-diameter-vertical: 6.8em;

$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$font-size-big: 28px;
$font-size-medium: 21px;
$font-size-small: 16px;

$bold: 400;
$font-weight-thin: 300;