@import 'variables';

body {
    //background-color: $color-medium;
    margin:0px;
}

.coda-logo{
    position: fixed;
    left: 20px;
    top: 10px;
}

.menu {
    margin: 0px;
    margin-top:0px;
    padding-top: 20px;
    padding-bottom: 22px;
    padding-right:30vw;
    list-style-type: none;
    background-color: $color-light;
    
    li {
        display: inline;
        margin-left:20px;
        a {
            padding: 20px; 
            cursor:pointer;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
        a:hover {
            background-color: $color-dark;
        }

        a.active {
            background-color: $color-medium;
        }

        a.active:hover {
            background-color: $color-dark;
        }
    }
    menu.active {
        background-color: $color-dark;
    }
}

a {
    text-decoration: none;
}

.line {
    background-color: $color-dark;
    height: 2px;
}

.align-right {
    text-align: right;
    width: 100vw;
    margin:0px;
}