@import 'variables';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin:0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

a {
    text-decoration: none;
}

input {
    border-color: transparent;
    border-bottom-color: darkgray;
    border-bottom-width: 1px;
    box-shadow: none;
    &:focus {
        outline: none;
    }
}

ul {
    list-style-type: none;
}


li.table {
    margin:0;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    cursor: pointer;

    &:hover {
        background-color: orange;
        -webkit-transition: background-color 500ms linear;
        -ms-transition: background-color 500ms linear;
        transition: background-color 500ms linear;
    }

    
    &.selected {
        background-color: green;
    }
}