@import '../../variables';

#header {
    border-bottom: 1px solid black;
}

.selected {
    background-color: orange;
}

.content {
    overflow-y: scroll;
    height: 70vh;
}

.floating {
    background-color: white;
    box-shadow: $shadow;
    border: 1px solid black;
    width: 40em;
    margin:auto;
}