
li {
    margin:0;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    cursor: pointer;

    &:hover {
        background-color: orange;
        -webkit-transition: background-color 500ms linear;
        -ms-transition: background-color 500ms linear;
        transition: background-color 500ms linear;
    }
}

.selected {
    background-color: green;
}